.CartItem {
  display: flex;
  justify-content: space-between;

  padding: 20px;
  margin: 0;
  border-bottom: 1px dashed #cccccc;
}

.CartItem:first-child {
  border-top: 1px dashed #cccccc;
}

.CartItem-code {
  margin-right: 20px;
}

.CartItem-price {
  margin-left: auto;
  margin-right: 62px;
}

.CartItem-amount {
  margin-right: 24px;
}
